# Optional local vimrc file
.vimrc
# Optional local zshrc file
.zshrc
# Optional local gitconfig file
.gitconfig
# Vim Swap files
.swp
# Vim Info File
.viminfo
# Bash Config File
.bashrc
# Less History
.lesshst
# Bash Profile (?)
.profile
