.Dings_Sip_Toggle-Container {
	Position: Relative;
}

.Dings_Sip_Toggle-Parent {
	Position: Relative;
	Z-Index: 0;
}

.Dings_Sip_Toggle-Child {
	Left: 0;
	Position: Absolute;
	Top: 0;
	Z-Index: 1;
}

.Dings_Sip_Toggle-Label {
	Display: Block;
	Text-Align: Center;
	Background-Color: var(--Dings-Color-Button);
}

.Dings_Sip_Toggle-Label A {
	/* Do not show Links (Beauty) */
	Text-Decoration: unset;
}
