/* # Dings-Quiz-Css-File */
/* ## Define Variables */
:Root {
	--Dings-Quiz-Green:	#3d5a55;
}

/* ## Image */
.Dings_Quiz-Image {
	Width: 100%;
}

/* ## Contoller */
.Dings_Quiz-Div_Controller {
	Color: White;
	Background-Color: var(--Dings-Quiz-Green);
	Font-Weight: Bold;
	Text-Align: Center;
	Transition:0.5s Ease;
	-moz-transition:0.5s Ease;
	-webkit-transition:0.5s Ease;
}

.Dings_Quiz-Div_Controller a {
	Color: White;
}

.Dings_Quiz-Div_Controller_Red {
	Background-Color: red;
	Transition:0.5s ease;
	-moz-transition:0.5s ease;
	-webkit-transition:0.5s ease;
}

/* ## Buttons */
.Dings_Quiz-Button {
	Color: Black;
	Margin-Top: 2px;
	Height: 30px;
	Width: 100%;
}

.Dings_Quiz-Button_Collapsed {
	Display: none;
}

.Dings_Quiz-Button_Wrong {
	Background-Color: #eebcbd;
}

.Dings_Quiz-Button_Right {
	/* Background-Color: #5fad6f; */
	Background-Color: #89aaa4;
}

.Dings_Quiz-Button_Icon_Left {
	Align: Left;
	Height: 20px;
}

.Dings_Quiz-Button_Icon_Right {
	Align: Right;
	Height: 20px;
	Opacity: 0;
}

/* ## Table */
.Dings_Quiz-Table {
	Margin: 1px;
}

.Dings_Quiz-Td {
	Height: 50px;

.Dings_Quiz-Th_Left {
	Text-Align: Left;
	Width: 10%;
}

.Dings_Quiz-Th_Middle {
	Text-Align: Center;
	Width: 80%;
}

.Dings_Quiz-Th_Right {
	Text-Align: Right;
	Width: 10%;
}

.Dings_Quiz-Label {
	White-Space: Pre-Wrap;
	Word-Wrap: Break-Word;
}
